.box {
  width: 100%;
  border-radius: 5px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: -20px;
}
.box input {
  width: 80%;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  outline: none;
}
.box img {
  background: linear-gradient(to bottom, #6abdff, violet);
  border-radius: 50%;
  width: 15px;
  padding: 5px;
  height: 15px;
  margin-right: 5px;
}
